        <footer class="footer">
          <div class="container">
<<<<<<< HEAD
            <p class="text-muted">&copy; Maxim Malkhazov 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
=======
            <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
>>>>>>> 6f1b776af14a0ded59846f7681ca75711b8bf031
          </div>
        </footer>
    </body>
</html>