<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <meta property="og:title" content="YelpCamp"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://image.ibb.co/mHaseJ/yelp_app_logo2.png"/>
        <meta property="og:description" content="Yelp-like app for posting and reviewing campgrounds and outdoor activities"/>
        <meta property="og:url" content="http://yelp-camp-usa.herokuapp.com/">
        <link rel="icon" type="image/png" href="https://image.ibb.co/kb8W6y/m_logo.png">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser) { %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a></li>
                       <% } else { %>
                            <li><a href="#">Hello, <%= currentUser.username %>!</a></li>
                            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                       <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
        </div>
        
