
body {
    background-color: #232323;
    color: white;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    opacity: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1489176876421-3b720db0fb3d?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}
.slideshow li:nth-child(2) {
    background-image: url("https://images.unsplash.com/photo-1439123414876-0717652a92a9?auto=format&fit=crop&w=752&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1494783367193-149034c05e8f?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url("https://images.unsplash.com/photo-1432817495152-77aa949fb1e2?auto=format&fit=crop&w=749&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url("https://images.unsplash.com/photo-1460899162311-d63278c9cf9d?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}



.footer {
    text-align: center;
    bottom: 0;
}

