<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <meta property="og:title" content="YelpCamp"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://image.ibb.co/mHaseJ/yelp_app_logo2.png"/>
        <meta property="og:description" content="Yelp-like app for posting and reviewing campgrounds and outdoor activities"/>
        <meta property="og:url" content="http://yelp-camp-usa.herokuapp.com/">
        <link rel="icon" type="image/png" href="https://image.ibb.co/kb8W6y/m_logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/landing.css">
    </head>
    <body>
        <div class="container">
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
        </div>
        
        <div id="landing-header">
            <h1>Welcome to YelpCamp!</h1>
            <a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>
        </div>
        
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <!--<p class="footer">&copy; YelpCamp 2017</p>-->
    </body>
</html>
        
