<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheet/landing.css">
    </head>
    <body>
        <div class="container">
            <% if (success && success.length > 0) { %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
            <% if (error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
        </div>
        
        <div id="landing-header">
            <h1>Welcome to YelpCamp-USA!</h1>
            <a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>
        </div>
        
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <!--<p class="footer">&copy; YelpCamp 2017</p>-->
    </body>
</html>
        
