<% include ../partials/header %>

<div class="container">
    <header class="page-header">
        <div class="container">
            <h1 class="header"><i class="fa fa-globe" aria-hidden="true"></i> Welcome to YelpCamp!</h1>
            <h3 class="header">View the largest collection of campgrounds in North-America</h3>
            <p>
                <a class="btn btn-primary btn-md" href="campgrounds/new"><i class="fa fa-plus" aria-hidden="true"></i> Add a New Campground</a>
            </p>
        </div>
    </header>
    
    <hr>
    
    <div style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="index-image" src="<%= campground.image %>">
                </div>
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p class="image">
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer %>